@model IEnumerable<Product>
@{
    ViewData["Title"] = "Home Page";
}
<div class="d-flex mb-2 mt-4">
    <a class="btn btn-primary" style="margin-right:70%;color:white" asp-controller="Products" asp-action="Insert">Insert</a>
    <form asp-action="Check" asp-controller="Products" class="d-flex">
        <input class="form-control" style="width:100%;margin-right:5px" type="text" name="name">
        <button class="btn btn-primary" type="submit">Check</button>
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">STT</th>
            <th scope="col">Image</th>
            <th scope="col">DrinkName</th>
            <th scope="col">Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var products in @Model)
        {
            <tr>
                <th scope="row">@products.Id</th>
                <td><img style="height:80px;width:40%" asp-append-version="true" src="~/Img/@products.Image" /></td>
                <td>@products.Name</td>
                <td>@products.Price</td>
                <td>
                    <a asp-action="Update" asp-controller="Products" asp-route-id="@products.Id" class="btn btn-secondary" type="submit">Edit</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-controller="Products" asp-route-id="@products.Id" type="submit">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>